<html>
<head>
			<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
			<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css">
		    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js"></script>
		    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
			<script src="reg.js" ></script>
			<link rel="stylesheet" href="reg.css">
	<style>
        input.ng-invalid.ng-dirty{border: 1px; solid:red;}
    </style>
</head>

<body  ng-app="myApp">
 <div class="container">
   <div id="signup">
      <div class="signup-screen">
         <div class="space-bot text-center">
            <h1>Sign up</h1>
          
           <form class="form-register" name="register" action="/new" method="POST">
	            
				<div class="input-field col s8">
				
              <input id="name" 
			  type="text"  
			  name="name" 
			  class="validate"  
			  required
			  ng-model="name"
			  ng-pattern="/^[a-zA-Z\.]*$/"
			  ng-minlength="3"/>

              <label for="name">Name</label>
			   <p class="alert alert-danger" ng-show="register.name.$dirty && register.name.$error.minlength">Name should be minimum 3 characters</p>
			 <p class="alert alert-danger" ng-show="register.name.$touched && register.name.$invalid">Number is invalid character</p>
				
            </div>
			
			 <div class="input-field col s8">
              <input id="surname" 
			  type="text" 
			  name="surname" 
			  class="validate" 
			  required
			  ng-model="surname"
			  ng-pattern="/^[a-zA-Z\.]*$/"
			   ng-minlength="3"/>
              <label for="surname">Surname</label>
			  <p class="alert alert-danger" ng-show="register.surname.$dirty && register.surname.$error.minlength">surname should be minimum 3 characters</p>
			  <p class="alert alert-danger" ng-show="register.surname.$touched && register.surname.$invalid">Number is invalid character</p>
             </div>
			
			
			 <div class="input-field col s8" >
			 <input id="year" 
			 type="text" 
			 name="year" 
			 class="validate" 
			 ng-model="year"
			 required
			
			 ng-pattern="/^[0-9]{4}-(0[1-9]|1[0-2])-(0[1-9]|[1-2][0-9]|3[0-1])$/">
			<label for="year">Date of birth</label>
			<p class="alert alert-danger" ng-show="register.year.$touched && register.year.$invalid">please enter the date in YYYY-MM-DD format</p>
			</div>
			 
				
			 
			 <div class="input-field col s8">
              <input id="email" 
			  type="email" 
			  name="email" 
			  ng-model="email" 
			  class="validate" 
			  required
			  >
              <label for="email">Email</label>
             <p class="alert alert-danger" ng-show="form-register.email.$error.email">Your email is invalid.</p>
			</div>
			 
			 <div ng-controller="RegisterCtrl">
			 <div class="input-field col s8">
			 
               <input id="password" 
			   type="password" 
			   name="password" 
			   ng-model="password" 
			   class="validate" 
			   required
				ng-init="password_error_show = 0"
				ng-focus="password_error_show = 1"
				ng-change="password_error_show = password_error_show + 1;changepassword()">
			<label for="password">Password </label>
            <button type="button" id="show_hide" name="show_hide"> Show</button><br/>
			  <p class="alert alert-danger" ng-show="!passValidation && password_error_show > 0">
			   Password must be alphanumeric, 1 lower & upper letter & 1 special character(!@#$%^&*).
				Password length must be between 8-13
				</p>
			 </div>
           
				
			<div class="input-field col s8">
               <input id="cpassword" 
			   type="password" 
			   name="cpassword" 
			   ng-model="cpassword" 
			   class="validate" 
			   required
			   ng-init="cpassword_error_show = 0"
				ng-focus="cpassword_error_show = 1"
				ng-change="cpassword_error_show = cpassword_error_show + 1;changepassword()">
				<label for="password">Confirm Password</label>
			    <p class="alert alert-danger" ng-show="cpassword_error_show > 0 && password !== cpassword"> Password mismatch</p>
			</div>
			</div>
			 
			 <div class="input-field col s8">
			 <input id="phno"
			 type="number" 
			name="phno"
			ng-model="mobileno"
			required
			class="validate"
			ng-maxlength="10"
			ng-minlength="10"/>
			<label for="phnno">Phone Number</label>
			<p class="alert alert-danger" ng-show="register.phno.$dirty && register.phno.$error.minlength">please enter 10 numbers</p>
			<p class="alert alert-danger" ng-show="register.phno.$dirty && register.phno.$error.maxlength">do not enter more than 10 numbers</p>
			</div>
			
			
			<div class="input-field col s8">
			 <input id="adhno"
			 type="number" 
			name="adhno"
			ng-model="adhno"
			required
			class="validate"
			ng-maxlength="12"
			ng-minlength="12"/>
			<label for="phnno">Aadhar Number</label>
			<p class="alert alert-danger" ng-show="register.adhno.$dirty && register.adhno.$error.minlength">please enter 12 numbers</p>
			<p class="alert alert-danger" ng-show="register.adhno.$dirty && register.adhno.$error.maxlength">do not enter more than 12 numbers</p>
			</div>
			
			<div ng-controller="test1">
			<div class="input-field col s8">
			<input type="text" 
			name="pan"
			ng-model="pan"
			required
			class="validate"
			ng-init="pan_error_show = 0"
			ng-focus="pan_error_show = 1"
			ng-change="pan_error_show = pan_error_show + 1;changepan()">
			<label for="pan">PAN Number</label>
			<p class="alert alert-danger" ng-show="!panValidation && pan_error_show > 0">
				please enter valid PAN number
				</p>
			</div>
			</div>
			
			  <div class="space-top text-center">
               <button type="submit" class="waves-effect waves-light btn done">
               <b class="material-icons left">Submit</b> 
               </button>
               <button type="reset" class="waves-effect waves-light btn cancel">
               <b class="material-icons left">Reset</b>
               </button>
              </div>
             </form>
           </div>
        </div>
         </div>
    </div>
</body>

</html>
<script>
$(document).ready(function(){
	$('#show_hide').on('click', function(){
		var passwordField = $('#password');
		var passwordFieldType = passwordField.attr('type');
		if(passwordFieldType == 'password')
		{
		passwordField.attr('type', 'text');
		$(this).text('hide');
		}
		else
		{
		passwordField.attr('type', 'password');
		$(this).text('show');
		}
	});
});
</script>			  
			  
			  
			  
			  
			  
			  